<app-nav></app-nav>

<div class="detail-container">
  <a class="back-button" (click)="goBack()">← Back to home</a>

  <mat-card class="country-card" *ngIf="country">
    <mat-card-content>
      <div class="country-card-content">
        <img [src]="country.flags.svg" [alt]="'Flag of ' + country.name" />
        
        <div class="country-info">
          <h2>{{ country.name }}</h2>
          <p><strong>Population:</strong> {{ country.population | number }}</p>
          <p><strong>Region:</strong> {{ country.region }}</p>
          <p><strong>Capital:</strong> {{ country.capital || 'N/A' }}</p>
          <p *ngIf="country.subregion"><strong>Sub Region:</strong> {{ country.subregion }}</p>
          <p *ngIf="country.currencies"><strong>Currencies:</strong> {{ getCurrencies(country.currencies) }}</p>
          <p *ngIf="country.languages"><strong>Languages:</strong> {{ getLanguages(country.languages) }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
